.class {
  padding-top: 42px;
}

.class .container {
  padding: 0;
}

.class__header-title {
  color: #04004D;
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: 'Playfair Display',serif;
}

.class__header-text {
  margin: 8px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__header-text-p {
  max-width: 428px;
  color: #848199;
  text-align: start;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.class__header-text-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__header-text-form-dropdown {
  width: 58px;
  padding: 5px 8px;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #4D4D4D;
  border-top: 0.8px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  margin-right: 25px;
  cursor: pointer;
}

.class__header-text-form-select {
  padding: 12px;
  color: #fff;
  background: #FF5722;
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.class__body {
  padding-bottom: 85px;
}

.class__body-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__body-card {
  cursor: pointer;
  max-width: 359px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.class__body-card-img {
  position: relative;
  width: 101%;
  margin-left: -1px;
}

.class__body-card-img::before {
  content: url("../assets/img/heart.svg");
  top: 24px;
  left: 24px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
}

.class__body-card-img img {
  width: 100%;
}

.class__body-card-text {
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: 500;
  line-height: 22px;
  font-size: 22px;
  font-family: 'Playfair Display',serif;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.class__body-card-inner {
  padding: 13px 24px 18px 23px;
}

.class__body-card-inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__body-card-inner-flex-one {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__body-card-inner-flex-one img {
  margin-right: 7px;
}

.class__body-card-inner-flex-one span {
  margin-top: 3px;
}

.class__body-card-inner-flex-two {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF5722;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__body-card-inner-title {
  padding: 11px 0 0 0;
}

.class__body-card-inner-title-title {
  max-width: 268px;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 28px;
  font-size: 17px;
}

.class__body-card-inner-title-text {
  margin: 10px 0 15px 0;
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}

.class__body-card-inner-footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class__body-card-inner-footer-left span {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}

.class__body-card-inner-footer-left span::before {
  margin-right: 8px;
  content: url("../assets/img/user.svg");
}

.class__body-card-inner-footer-left a {
  padding: 8px;
  color: #FF5722;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 87, 34, 0.16);
}

@media (max-width: 1201px) {
  .class {
    padding-left: 13px;
    padding-right: 20px;
  }
  .class__body-card {
    min-width: 300px;
    margin-right: 20px;
  }
  .class__body-card:last-child {
    margin-right: 0;
  }
  .class__body-card-inner-title-title {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .class__header-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .class__header-text {
    margin-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .class__header-text-p {
    max-width: 392px;
  }
  .class__body-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .class__body-card {
    margin-top: 20px;
    min-width: 300px;
  }
  .class__body-card:nth-child(2) {
    margin-right: 0;
  }
  .class__body-card-img img {
    width: 99.6%;
  }
}

@media (max-width: 768px) {
  .class__header-text-p {
    max-width: 320px;
  }
  .company__features-card {
    margin-right: 20px;
    margin: 0 auto;
  }
  .company__features-card:nth-child(2) {
    margin: 20px auto;
  }
  .class__body-card {
    margin-top: 20px;
    max-width: 295px;
  }
}

@media (max-width: 660px) and (min-width: 560px) {
  .class__header-text {
    display: block;
  }
  .class__header-text-p {
    text-align: center;
    margin: 0 auto;
  }
  .class__header-text-form {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .class__body-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .class__body-card {
    margin-right: 0;
    max-width: 360px;
  }
}

@media (max-width: 550px) {
  .class__body-card {
    margin-right: 0 !important;
  }
}
