*, *::after, *::before {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus, :active, a:focus, a:hover {
  outline: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

nav, footer, header {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button, input, textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
}
.header__nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  min-height: 100px;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__bars, .header__times {
  cursor: pointer;
  display: none;
}
.header__content {
  width: 85%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item {
  margin: 0 25px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #04004D;
  position: relative;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
}
.header__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ff5722;
  border-radius: 1px 1px 3px 3px;
  transform: translateY(-5px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #ff5722;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}
.header__link:hover {
  font-weight: 510;
}
.header__link:hover::before {
  opacity: 1;
  transform: translateY(-38px);
}
.header__link:hover::after {
  bottom: -12px;
  opacity: 1;
}
.header__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  color: #FF5722;
  padding: 15px 32px;
  display: inline-block;
  border: 1px solid #FF5722;
  border-radius: 4px;
  font-weight: normal;
  line-height: 16px;
  font-size: 16px;
}
.header__btn.btn-link {
  width: 131.58px;
  text-align: center;
  color: #04004D;
  margin-right: 5px;
  border-color: transparent;
}
.header__btn.btn-link:hover {
  color: #FF5722;
  border-color: #FF5722;
  transition: border-color 400ms ease-in-out;
}
.header__home {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 47px 0 41px;
}
.header__home-inner {
  padding-top: 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__home-content {
  max-width: 546px;
  margin-top: 42px;
}
.header__home-title {
  color: #04004D;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 74px;
  font-size: 54px;
}
.header__home-title span {
  color: #FF5722;
  font-family: "Playfair Display", serif;
}
.header__home-text {
  padding: 20px 0px 0px 0px;
  color: rgba(1, 0, 26, 0.75);
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.header__home-link {
  padding-top: 28px;
  padding-bottom: 30px;
}
.header__home-btn {
  margin-right: 25px;
  color: #fff;
  background: #FF5722;
}
.header__home-img {
  position: relative;
  max-width: 622px;
}
.header__woman-img {
  width: 100%;
}
.header__woman-img img {
  width: 100%;
}
.header__home-circle {
  position: absolute;
  top: 38%;
  left: 5%;
  width: 10%;
  height: 10%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__home-circle span {
  width: 74%;
  height: 74%;
  color: #fff;
  border-radius: 50%;
  background-color: #383E56;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-rectangle {
  top: 65%;
  left: -14%;
  max-width: 38%;
  padding: 12px 11px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-rectangle img {
  width: 16px;
  height: 16px;
}
.header__home-rectangle span {
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .header__times, .header__bars {
    display: none !important;
  }
}
@media (min-width: 993px) and (max-width: 1201px) {
  .header__home-inner {
    align-items: flex-start;
  }
  .header__home-content {
    max-width: 440px;
  }
  .header__home-title {
    font-weight: bold;
    line-height: 62px;
    font-size: 42px;
  }
  .header__home-circle {
    left: 25%;
    width: 9%;
    height: 11%;
  }
  .header__home-circle img {
    width: 88%;
  }
  .header__home-circle span {
    width: 82%;
    height: 82%;
    font-size: 10px;
  }
  .header__home-rectangle {
    left: 6%;
    max-width: 40%;
    padding: 6px;
  }
  .header__home-rectangle span {
    font-size: 10px;
  }
  .header__woman-img {
    width: 80%;
    float: right;
  }
  .header__woman-img img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .header {
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  }
  .header__nav {
    z-index: 5;
    width: 100%;
    position: fixed;
  }
  .header__bars {
    display: inline-block;
  }
  .header__content {
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    margin-left: 0px;
    padding-top: 100px;
    position: absolute;
    flex-direction: column;
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
    transform: translateY(-100%);
    transition: all 400ms ease-in-out;
  }
  .header__content.active {
    transform: translateY(0);
    transition: all 400ms ease-in-out;
  }
  .header__menu {
    flex-direction: column;
    width: 100%;
  }
  .header__item {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__link:hover::before {
    transform: translateY(-15px);
    transition: all 300ms ease-in-out;
  }
  .header__link:hover::after {
    bottom: -15px !important;
    transition: all 300ms ease-in-out;
  }
  .header__auth {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .header__btn.btn-link {
    margin: 15px 0;
    border-color: #FF5722;
    color: #FF5722;
  }
}
@media (min-width: 851px) and (max-width: 992px) {
  .header__home-inner {
    align-items: center;
  }
  .header__home-content {
    max-width: 360px;
  }
  .header__home-title {
    font-weight: bold;
    line-height: 52px;
    font-size: 34px;
  }
  .header__home-circle {
    left: 22%;
    width: 10%;
    height: 10%;
  }
  .header__home-circle img {
    width: 86%;
  }
  .header__home-circle span {
    width: 80%;
    height: 81%;
    font-size: 10px;
  }
  .header__home-rectangle {
    left: 8%;
    max-width: 56%;
    padding: 6px 2px;
  }
  .header__home-rectangle img {
    width: 12px;
    height: 12px;
  }
  .header__home-rectangle span {
    font-size: 10px;
  }
  .header__woman-img {
    width: 100%;
    float: right;
  }
  .header__woman-img img {
    width: 100%;
    margin-left: 47px;
  }
}
@media (min-width: 773px) and (max-width: 850px) {
  .header__home-inner {
    align-items: center;
  }
  .header__home-title {
    font-weight: bold;
    line-height: 58px;
    font-size: 38px;
  }
  .header__home-circle {
    left: 27%;
    width: 10%;
    height: 10%;
  }
  .header__home-circle img {
    width: 86%;
  }
  .header__home-circle span {
    width: 82%;
    height: 82%;
    font-size: 8px;
  }
  .header__home-rectangle {
    left: 8%;
    max-width: 56%;
    padding: 6px 2px;
  }
  .header__home-rectangle img {
    width: 12px;
    height: 12px;
  }
  .header__home-rectangle span {
    font-size: 10px;
  }
  .header__woman-img {
    width: 100%;
    float: right;
  }
  .header__woman-img img {
    width: 100%;
    margin-left: 47px;
  }
}
@media (max-width: 772px) {
  .header__home-inner {
    align-items: center;
    flex-wrap: wrap;
  }
  .header__home-content {
    margin: 50px auto;
  }
  .header__woman-img {
    margin: 0 auto;
  }
}
@media (min-width: 626px) and (max-width: 772px) {
  .header__home-circle img {
    width: 90%;
  }
  .header__home-circle span {
    width: 82%;
    height: 82%;
    font-size: 12px;
  }
  .header__home-rectangle {
    left: -4%;
    max-width: 45%;
  }
}
@media screen and (max-width: 538px) {
  .header__home-rectangle {
    max-width: 43%;
  }
}
@media (min-width: 450px) and (max-width: 625px) {
  .header__home-content {
    max-width: 400px;
  }
  .header__home-title {
    font-weight: bold;
    line-height: 54px;
    font-size: 36px;
  }
  .header__home-circle img {
    width: 91%;
  }
  .header__home-circle span {
    font-size: 10px;
    width: 88%;
    height: 88%;
  }
  .header__home-rectangle {
    left: -4%;
    max-width: 45%;
    padding: 6px 4px;
  }
  .header__home-rectangle img {
    width: 12px;
    height: 12px;
  }
  .header__home-rectangle span {
    font-size: 9px;
  }
}
@media (max-width: 449px) {
  body {
    overflow-x: hidden;
  }

  .header__home-content {
    max-width: 290px;
  }
  .header__home-title {
    font-weight: bold;
    line-height: 44px;
    font-size: 21px;
  }
  .header__home-text {
    font-size: 12px;
  }
  .header__home-link {
    text-align: center;
  }
  .header__home-link a {
    padding: 12px 24px;
  }
  .header__home-link a:first-child {
    margin-right: 0;
  }
  .header__home-link a:last-child {
    margin-top: 10px;
  }
  .header__home-circle {
    height: 11%;
    width: 12%;
  }
  .header__home-circle img {
    width: 89%;
  }
  .header__home-circle span {
    font-size: 8px;
    width: 86%;
    height: 88%;
  }
  .header__home-rectangle {
    left: -14%;
    max-width: 72%;
    padding: 4px 3px;
  }
  .header__home-rectangle img {
    width: 12px;
    height: 12px;
  }
  .header__home-rectangle span {
    font-size: 9px;
    padding-top: 1px;
  }
}
.company {
  background: #FDFDFD;
}
.company__logos {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__inner {
  margin-left: 19px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company__features {
  padding: 100px 0px;
}
.company__features-body {
  max-width: 948px;
  margin: 0 auto;
}
.company__features-inner {
  margin: 0 auto;
  display: block;
  max-width: 428px;
  padding-bottom: 42px;
}
.company__features-title {
  color: #04004D;
  text-align: center;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.company__features-text {
  color: #848199;
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
}
.company__features-content {
  padding-top: 90px;
}
.company__features-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
}
.company__features-card {
  cursor: pointer;
  max-width: 300px;
  min-height: 300px;
  text-align: center;
  background-color: #fff;
  padding: 28px 52px 0px 52px;
  border-radius: 8px;
  transition: all 600ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.company__features-card:hover {
  background-color: #FF5722;
  transform: translateY(-48px);
  transition: all 400ms ease-in-out;
}
.company__features-card:hover .company__features-card-body .company__features-card-title,
.company__features-card:hover .company__features-card-body .company__features-card-text {
  color: #fff;
}
.company__features-card:hover .company__features-card-img .mask__group {
  top: 0;
  left: -120px;
  z-index: 8888888;
}
.company__features-card-img {
  height: 57px;
  width: 57px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background: #FF5722;
  border: 6px solid #f5f5f5;
  opacity: 0.9;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__features-card-img .mask__group {
  position: absolute;
  z-index: 0;
}
.company__features-card-body {
  padding: 24px 0px 67px 0;
}
.company__features-card-title {
  font-weight: 600;
  line-height: 14px;
  font-size: 16px;
  z-index: 999;
  color: #262626;
}
.company__features-card-text {
  z-index: 999;
  color: #4D4D4D;
  max-width: 196px;
  padding-top: 14px;
  text-align: center;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}

@media (max-width: 992px) {
  .company__inner {
    flex-wrap: wrap;
  }
  .company__inner a {
    margin: 30px auto 0;
  }
  .company__inner a img {
    width: 100%;
  }
  .company__features-cards {
    flex-wrap: wrap;
  }
  .company__features-card {
    margin: 60px auto 0;
  }
}
.class {
  padding-top: 42px;
}
.class .container {
  padding: 0;
}
.class__header-title {
  color: #04004D;
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.class__header-text {
  margin: 8px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__header-text-p {
  max-width: 428px;
  color: #848199;
  text-align: start;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.class__header-text-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__header-text-form-dropdown {
  width: 58px;
  padding: 5px 8px;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #4D4D4D;
  border-top: 0.8px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  margin-right: 25px;
  cursor: pointer;
}
.class__header-text-form-select {
  padding: 12px;
  color: #fff;
  background: #FF5722;
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.class__body {
  padding-bottom: 85px;
}
.class__body-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card {
  cursor: pointer;
  max-width: 359px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.class__body-card-img {
  position: relative;
  width: 101%;
  margin-left: -1px;
}
.class__body-card-img::before {
  content: url("../assets/img/heart.svg");
  top: 24px;
  left: 24px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
.class__body-card-img img {
  width: 100%;
}
.class__body-card-text {
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: 500;
  line-height: 22px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%);
}
.class__body-card-inner {
  padding: 13px 24px 18px 23px;
}
.class__body-card-inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card-inner-flex-one {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__body-card-inner-flex-one img {
  margin-right: 7px;
}
.class__body-card-inner-flex-one span {
  margin-top: 3px;
}
.class__body-card-inner-flex-two {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__body-card-inner-title {
  padding: 11px 0 0 0;
}
.class__body-card-inner-title-title {
  max-width: 268px;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 28px;
  font-size: 17px;
}
.class__body-card-inner-title-text {
  margin: 10px 0 15px 0;
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.class__body-card-inner-footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card-inner-footer-left span {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.class__body-card-inner-footer-left span::before {
  margin-right: 8px;
  content: url("../assets/img/user.svg");
}
.class__body-card-inner-footer-left a {
  padding: 8px;
  color: #FF5722;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 87, 34, 0.16);
}

@media (max-width: 1201px) {
  .class {
    padding-left: 13px;
    padding-right: 20px;
  }
  .class__body-card {
    min-width: 300px;
    margin-right: 20px;
  }
  .class__body-card:last-child {
    margin-right: 0;
  }
  .class__body-card-inner-title-title {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .class__header-title {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .class__header-text {
    margin-top: 20px;
    justify-content: space-around;
  }

  .class__header-text-p {
    max-width: 392px;
  }

  .class__body-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .class__body-card {
    margin-top: 20px;
    min-width: 300px;
  }
  .class__body-card:nth-child(2) {
    margin-right: 0;
  }
  .class__body-card-img img {
    width: 99.6%;
  }
}
@media (max-width: 768px) {
  .class__header-text-p {
    max-width: 320px;
  }

  .company__features-card {
    margin-right: 20px;
    margin: 0 auto;
  }
  .company__features-card:nth-child(2) {
    margin: 20px auto;
  }

  .class__body-card {
    margin-top: 20px;
    max-width: 295px;
  }
}
@media (max-width: 660px) and (min-width: 560px) {
  .class__header-text {
    display: block;
  }
  .class__header-text-p {
    text-align: center;
    margin: 0 auto;
  }
  .class__header-text-form {
    margin-top: 20px;
    justify-content: center;
  }

  .class__body-cards {
    justify-content: center;
  }
  .class__body-card {
    margin-right: 0;
    max-width: 360px;
  }
}
@media (max-width: 550px) {
  .class__body-card {
    margin-right: 0 !important;
  }
}
.about__wrapper {
  padding: 85px 160px 37px 89px;
  margin: 0 auto;
}
.about__header {
  max-width: 330px;
  margin: 0 auto;
}
.about__title {
  text-align: center;
  color: #04004D;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.about__text {
  max-width: 505px;
  color: #848199;
  text-align: center;
  padding: 12px 0px 28px 0px;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}
.about__body {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}
.about__body-left {
  position: relative;
}
.about__body-left::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FF5722;
}
.about__body-left iframe {
  min-width: 529px;
  min-height: 309px;
  margin-left: 46px;
}
.about__body-right {
  padding-left: 34px;
  max-width: 505px;
}
.about__body-right-header {
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  color: #1f1f1f;
}
.about__body-right-body {
  padding-top: 16px;
  padding-bottom: 32px;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  color: rgba(1, 0, 26, 0.75);
}
.about__body-right-footer a {
  color: #FF5722;
  display: inline-block;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  border-bottom: 1px solid #FF5722;
}
.about__body-right-footer a::after {
  margin-left: 5px;
  content: url("../assets/img/right.svg");
}

@media (max-width: 1286px) {
  iframe {
    margin-left: 0 !important;
  }

  .about__wrapper {
    padding: 85px 20px 89px;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 1108px) {
  iframe {
    min-width: 420px !important;
    min-height: 240px !important;
  }

  .about__body-right {
    padding-left: 15px;
  }

  .about__body-right-header {
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
  }

  .about__body-right-body {
    padding: 0 0px 5px;
    font-weight: normal;
    line-height: 22px;
    font-size: 13px;
  }
}
@media (max-width: 840px) {
  iframe {
    min-width: 380px !important;
    min-height: 214px !important;
  }
}
@media (max-width: 780px) {
  .about__body {
    display: block;
  }

  .about__body-left {
    text-align: center;
  }

  iframe {
    min-width: 509px !important;
    min-height: 290px !important;
  }

  .about__body-right {
    text-align: center;
    margin: 30px auto;
  }
  .about__body-right-header {
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
  }
  .about__body-right-body {
    padding-top: 16px 0 32px 0;
    font-weight: normal;
    line-height: 28px;
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  iframe {
    min-width: 420px !important;
    min-height: 240px !important;
  }
}
@media (max-width: 460px) {
  iframe {
    min-width: 340px !important;
    min-height: 210px !important;
  }

  .about__body-right-header {
    font-weight: 600;
    line-height: 30px;
    font-size: 22px;
  }

  .about__body-right-body {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  iframe {
    min-width: 300px !important;
    min-height: 174px !important;
    margin-left: -20px;
  }

  .about__body-right {
    padding: 0;
  }

  .about__body-right-body {
    margin: 10px 0;
  }
}
.pricing {
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.pricing__inner {
  max-width: 1260px;
  margin-left: auto;
  width: 100%;
}
.pricing__header {
  display: block;
  max-width: 555px;
  margin-left: 15px;
}
.pricing__title {
  color: #04004D;
  letter-spacing: 0.02em;
  font-weight: bold;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display";
}
.pricing__text {
  color: #848199;
  margin: 8px 0px 22px 0px;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.pricing__body {
  margin: 20px 0px 40px 0;
  border: 1px solid green;
  height: 100%;
  z-index: 0;
}
.pricing__slider {
  z-index: 0;
  position: relative;
  padding: 40px 15px 0px 15px;
}
.pricing__slider .slick-dots {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing__slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.pricing__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
.pricing__slider .slick-dots .slick-active button {
  background-color: #ff5722;
}
.pricing__slider-item {
  z-index: 0;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
}
.pricing__slider-item .pricing__card {
  width: 100%;
  margin-top: 29px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px dashed rgba(0, 0, 0, 0.12);
}
.pricing__slider-item .pricing__card-img {
  top: 0;
  left: 38%;
  position: absolute;
}
.pricing__slider-item .pricing__card-body {
  margin: 55px 23px 63px 23px;
}
.pricing__slider-item .pricing__card-body-title {
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  color: #3d3d3d;
}
.pricing__slider-item .pricing__card-body-title span {
  display: block;
  color: #848199;
  font-weight: normal;
  line-height: 18px;
  font-size: 13px;
}
.pricing__slider-item .pricing__card-body-icon {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing__slider-item .pricing__card-body-icon span {
  color: #3d3d3d;
  margin-right: 8px;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.pricing__slider-item .pricing__card-body-icon img {
  width: 15px;
  height: 15px;
  margin-top: -2px;
}
.pricing__slider-item .pricing__card-body-text {
  color: #4d4d4d;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}

@media (max-width: 767px) and (min-width: 636px) {
  .pricing__card-img {
    left: 42% !important;
  }
}
@media (max-width: 497px) and (min-width: 397px) {
  .pricing__card-img {
    left: 42% !important;
  }

  .pricing__card {
    padding: 0 35px 0 35px !important;
  }
}
@media (max-width: 497px) {
  .pricing__title {
    text-align: center;
  }

  .pricing__text {
    text-align: center;
    margin-top: 16px;
  }

  .pricing__header {
    margin-left: 0;
    padding: 0px 10px;
  }
}
.subscription {
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 45px;
}
.subscription__container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.subscription__card-header {
  max-width: 268px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.subscription__card-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  color: #04004D;
}
.subscription__card-text {
  color: #848199;
  text-align: center;
  padding: 12px 0px 38px 0px;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
}
.subscription__card-btn-group {
  max-width: 220px;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.subscription__card-btn-group-btn {
  display: inline-block;
  font-weight: normal;
  line-height: 21px;
  font-size: 14px;
  color: #808080;
  border-radius: 6px;
  padding: 11px 31.55px 12px 31.65px;
}
.subscription__card-btn-group .btn-left {
  color: #fff;
  background: #FF5722;
  border: 1px solid #FF5722;
  position: absolute;
  top: -1px;
  left: -1px;
}
.subscription__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription__card {
  cursor: pointer;
  margin-right: 20px;
  background: #fff;
  border: 1px solid #FFB199;
  padding: 24px 53px 25px 41px;
  border-radius: 8px;
  transition: all 400ms ease-in-out;
}
.subscription__card:hover {
  transform: translateY(-40px);
  transition: all 400ms ease-in-out;
  background-color: #FF5722;
}
.subscription__card:last-child {
  margin-right: 0;
}
.subscription__card:hover .subscription__title, .subscription__card:hover .subscription__title span, .subscription__card:hover .subscription__text, .subscription__card:hover .subscription__must, .subscription__card:hover .subscription__line del, .subscription__card:hover .subscription__line span {
  color: #fff;
}
.subscription__card:hover .subscription__line .image {
  background: rgba(255, 255, 255, 0.2);
}
.subscription__card:hover .subscription__footer a {
  background-color: #fff;
  border-color: #fff;
  color: #FF5722;
}
.subscription__header {
  max-width: 232px;
}
.subscription__title {
  font-weight: 400;
  line-height: 25px;
  font-size: 16px;
  color: #525252;
}
.subscription__title span {
  color: #1f1f1f;
  font-weight: 500;
  line-height: 48px;
  font-size: 32px;
}
.subscription__text {
  padding: 8px 0px;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  color: #3D3D3D;
}
.subscription__must {
  max-width: 238px;
  color: #808080;
  padding: 7px 0px 6px 0px;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.subscription__line {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subscription__line .image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription__line .images {
  background: rgba(255, 87, 34, 0.2);
}
.subscription__line span {
  margin-left: 10px;
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
  color: #FF5722;
}
.subscription__line del {
  color: #848199;
  margin-left: 10px;
  font-weight: normal;
  line-height: 18px;
  font-size: 12px;
}
.subscription__footer {
  display: block;
  text-align: center;
  margin-top: 34px;
  margin-bottom: 5px;
}
.subscription__footer a {
  display: inline-block;
  padding: 11px 56px 12px 57px;
  margin: 0 auto;
  color: #FF5722;
  border: 1px solid #FF5722;
  border-radius: 4px;
}

@media (max-width: 1100px) {
  .subscription__card {
    padding: 18px 43px 20px 25px;
  }
}
@media (max-width: 992px) {
  .subscription__cards {
    flex-wrap: wrap;
  }

  .subscription__card {
    padding: 30px 60px 30px 50px;
    margin-top: 20px;
    margin-right: 15px;
  }
}
@media (max-width: 726px) and (min-width: 661px) {
  .subscription__card {
    margin-right: 0 !important;
  }
}
@media (max-width: 660px) {
  .subscription__card {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    padding: 18px 43px 20px 22px;
  }
  .subscription__card:last-child {
    margin-left: 0;
  }
}
.blog {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1380px;
}
.blog__container {
  max-width: 1210px;
  margin-left: auto;
}
.blog__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  color: #04004D;
  letter-spacing: 4%;
}
.blog__text-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__text {
  max-width: 555px;
  padding-top: 8px;
  color: #848199;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.blog .blog__text-btn a {
  color: #fff;
  display: inline-block;
  background-color: #FF5722;
  border-radius: 4px;
  padding: 12px 26px 12px 12px;
}
.blog__body {
  margin: 42px 0px 70px 0px;
  position: relative;
}
.blog__slider .slick-dots {
  height: 4px;
  width: 160px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__slider .slick-dots button {
  font-size: 0;
  width: 55px;
  height: 4px;
}
.blog__slider .slick-dots .slick-active button {
  background-color: #FF5722;
}
.blog .blog__slider-item {
  min-width: 526px;
  margin-right: 21px;
  background: #fff;
  border-radius: 7.1px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 0.912662px solid rgba(0, 0, 0, 0.1);
}
.blog .blog__slider-item-img {
  width: 100%;
  height: 100%;
}
.blog .blog__slider-item-img img {
  object-fit: cover;
  width: 100%;
  margin-top: 2px;
}
.blog .blog__slider-item-content {
  padding: 14.43px 17.39px 20.05px 15.81px;
}
.blog .blog__slider-item-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
}
.blog .blog__slider-item-content-top div {
  font-weight: 500;
  line-height: 12.78px;
  font-size: 12.78px;
}
.blog .blog__slider-item-content-top span {
  font-weight: 400;
  line-height: 10.95px;
  font-size: 10.95px;
}
.blog .blog__slider-item-content-title {
  color: #3d3d3d;
  margin: 10.95px 0px 7.3px 0px;
  font-weight: 600;
  line-height: 27.4px;
  font-size: 16.43px;
}
.blog .blog__slider-item-content-text {
  color: #4d4d4d;
  min-width: 284px;
  margin-bottom: 14.46px;
  font-weight: 400;
  line-height: 20.08px;
  font-size: 10.95px;
}
.blog .blog__slider-item-content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .blog__slider-item-content-footer .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog .blog__slider-item-content-footer .left img {
  width: 29.22px;
  height: 29.21px;
}
.blog .blog__slider-item-content-footer .left span {
  color: #999;
  margin-left: 7.31px;
  font-weight: 400;
  line-height: 12.78px;
  font-size: 11.86px;
}
.blog .blog__slider-item-content-footer .more {
  color: #FF5722;
  font-weight: 500;
  line-height: 19.17px;
  font-size: 12.78px;
}

@media (max-width: 1225px) {
  .blog__container {
    padding: 0 15px;
  }

  .blog__header {
    padding-left: 12px;
  }
}
@media (max-width: 1223px) {
  .blog .blog__slider {
    display: block;
    justify-content: center;
    align-items: center;
    display: block !important;
  }
}
@media (max-width: 994px) {
  .blog__slider-item-img {
    margin-top: -2px;
  }

  .blog__btn {
    margin-right: 25px;
  }
}
@media (max-width: 767px) and (min-width: 578px) {
  .blog__slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.map {
  width: 100%;
}
.map__container {
  max-width: 1060px;
  max-height: 668px;
  margin: 0 auto;
}
.map__header {
  max-width: 568px;
  margin: 0 auto;
  text-align: center;
}
.map__title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  text-transform: capitalize;
  color: #04004D;
  text-align: center;
}
.map__text {
  padding: 0;
  max-width: 418px;
  color: #848199;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  margin: 8px auto 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__body {
  padding: 30px 0 45px 0;
}
.map__body img {
  width: 100%;
}
.map .instructor {
  margin: 100px 0;
}
.map .instructor__container {
  border-radius: 4px;
  height: 254px;
  margin: 0 auto;
  max-width: 1085px;
  position: relative;
  background-color: #04004D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map .instructor__left, .map .instructor__right {
  top: 0;
  width: 122px;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
}
.map .instructor__left {
  left: 10%;
}
.map .instructor__right {
  right: 10%;
}
.map .instructor__middle {
  max-width: 434px;
}
.map .instructor__title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 28px;
  font-size: 28px;
  font-family: "Playfair Display", serif;
}
.map .instructor__text {
  padding: 12px 0px 12px 0px;
  color: #ccc;
  text-align: center;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.map .instructor__btn {
  flex-wrap: wrap;
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map .instructor__btn .btn {
  width: 129px;
  color: #fff;
  padding: 16px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.map .instructor__link {
  margin-right: 20px;
  background: #FF5722;
  border: 1px solid #FF5722;
  border-radius: 4px;
}
.map .instructor__outline-link {
  color: #FF5722 !important;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #FF5722;
}

.footer {
  width: 100%;
  min-height: 368px;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
}
.footer__wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__inner {
  max-width: 340px;
  width: 30%;
}
.footer__inner-title {
  color: #666666;
  padding: 8px 0px 18px 0px;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.footer__inner-title span {
  color: #000;
  margin-right: 5px;
  font-size: 14px;
}
.footer__inner-location {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__inner-location span {
  color: #666;
  max-width: 256px;
  margin-top: -5px;
  margin-left: 14px;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.footer__inner-email {
  margin-top: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__inner-email span {
  color: #666;
  margin-left: 13px;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  margin-top: -5px;
}
.footer__content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 80px;
}
.footer__content-one h2 {
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  padding-top: 5px;
}
.footer__content-one a {
  color: #666;
  display: block;
  padding-top: 24px;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.footer__content-two h2 {
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  padding-top: 5px;
}
.footer__content-two a {
  color: #666;
  width: 100px;
  display: block;
  padding-top: 24px;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.footer__content-three h2 {
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  padding-top: 5px;
}
.footer__content-three a {
  color: #666;
  display: block;
  padding-top: 24px;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.footer__content-four h2 {
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  padding-top: 5px;
}
.footer__content-four a {
  color: #666;
  display: block;
  min-width: 160px;
  padding-top: 24px;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.footer__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
}
.footer__first, .footer__second, .footer__three {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  color: #666666;
}

.footer__line {
  opacity: 0.1;
  padding-top: 54px;
  border-bottom: 1px solid #000;
}

@media (max-width: 1150px) {
  .footer__content {
    margin-left: 40px;
  }

  .footer__inner-location span, .footer__inner-email span {
    margin-left: 5px;
  }
}
@media (max-width: 992px) {
  .footer__content {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    display: block;
  }

  .footer__inner {
    width: 100%;
    max-width: 90%;
  }

  .footer__content {
    margin-top: 25px;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
@media (max-width: 710px) and (min-width: 535px) {
  .footer__footer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__first {
    margin-right: 20px;
  }
}
@media (max-width: 535px) {
  .footer__content {
    flex-wrap: wrap;
  }

  .footer__content-one, .footer__content-two, .footer__content-three {
    margin-right: 20px;
  }

  .footer__content-four {
    margin: 25px auto 0;
  }

  .footer__footer {
    display: block;
  }
  .footer__first, .footer__second, .footer__three {
    margin-top: 15px;
  }
  .footer__three {
    padding-bottom: 15px;
  }
}
@media (max-width: 376px) {
  .footer__inner {
    margin: 0 auto;
    text-align: center;
  }

  .footer__inner-location span {
    margin-left: 14px;
  }

  .footer__inner-email {
    justify-content: center;
  }

  .footer__inner-location {
    justify-content: center;
  }

  .footer__inner-location span {
    margin-left: 0;
    max-width: 185px;
  }

  .footer__content {
    display: block;
  }

  .footer__content-one, .footer__content-two, .footer__content-three, .footer__content-four {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }

  .footer__content-two a {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
