.pricing {
  padding: 100px 0 70px 0;
}

.pricing__container {
  max-width: 1200px;
  margin-left: auto;
  width: 100%;
  padding-bottom: 30px;
}

.pricing__header {
  max-width: 555px;
}

.pricing__title {
  letter-spacing: 2%;
  color: #04004D;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: 'Playfair Display',serif;
}

.pricing__text {
  margin-top: 8px;
  color: #848199;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}

.pricing__body {
  padding-top: 70px;
  width: 100%;
}

.pricing__body .swiper-button-prev::after,
.pricing__body .swiper-button-next::after {
  font-size: 20px;
}

.pricing__body .swiper-button-next {
  right: 40px !important;
}

.pricing__body .swiper-pagination-bullet {
  bottom: 0;
}

.pricing__body .swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #C4C4C4;
  line-height: 20px;
  font-size: 14px;
}

.pricing__body .swiper-pagination-bullet-active {
  background: #FF5722 !important;
}

.pricing__body .swiper-pagination-fraction {
  color: #C4C4C4;
  font-size: 20px;
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  width: 1748px;
}

.pricing__card {
  width: 265px !important;
  height: 265px !important;
  z-index: 0;
  margin-right: 32px;
  position: relative;
  background-color: #fff;
  padding: 55px 23px 63px 23px;
  border-radius: 8px;
  border: 1px dashed rgba(0, 0, 0, 0.12);
}

.pricing__card:last-child {
  margin-right: 0px;
}

.pricing__card-img {
  top: 0;
  left: 50%;
  z-index: 55;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pricing__card-body {
  max-width: 219px;
  text-align: center;
}

.pricing__card-body-title {
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  color: #3D3D3D;
}

.pricing__card-body-title span {
  display: block;
  color: #848199;
  font-size: 11px;
}

.pricing__card-body-icon {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__card-body-icon span {
  color: #000;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}

.pricing__card-body-icon img {
  width: 15px;
  height: 15px;
  margin-left: 8px;
}

.pricing__card-body-text {
  padding-top: 8px;
  color: #4D4D4D;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}

@media (min-width: 1380px) {
  .pricing__container {
    margin: 0 auto;
  }
}

@media (max-width: 1211px) {
  .pricing__container {
    padding-left: 85px;
  }
}

@media (max-width: 992px) {
  .pricing__container {
    padding-left: 40px;
  }
}

@media (max-width: 675px) {
  .pricing__container {
    padding-left: 30px;
  }
  .pricing__card {
    margin-right: 25px;
  }
  .pricing__card:last-child {
    margin: 0;
  }
}
