$background : linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
$text-color : #04004D;
$orange : #FF5722;
$circle : #383E56;
$color-icon : #DADADA;
$text-footer : #666666;
$black  : #000;
$white : #fff;
$borderRadius : 4px;
$poppins : "Poppins",sans-serif;
$playfair : "Playfair",serif;
$transition : border-color 400ms ease-in-out;