
@import '_grid';
@import '_virable';


.blog{
   margin: 45px 0 120px 0;
   max-width:1366px;
   margin: 0 auto;
   &__title {
      color: #04004D;
      font-style: normal;
      letter-spacing: 0.04em;
      @include font(bold,32,32);
      font-family: Playfair Display;
   }
   &__content {
      margin-top: 8px;
      @include display(flex,space-between,flex-start);
   }
   &__text {
      max-width:555px;
      color: #848199;
      font-style: normal;
      @include font(normal,24,14);
   }
   &__btn-link {
      width: 138px;
      color : #fff;
      border-radius: 4px;
      padding: 12px 18px;
      background: #FF5722;
      display: inline-block;
   }
   &__body {
      margin-top: 42px;
   }
   &__cards {
      @include display(flex,space-between,center);
   }
   &__card {
      cursor: pointer;
      margin-right: 20px;
      background: #FFFFFF;
      border-radius: 7.30129px;
      @include display(flex,space-between,center);
      border: 0.912662px solid rgba(0, 0, 0, 0.1);
   }
   &__card-img {
      height: 102%;
      img{
         height:100%;
      }
   }
   &__card-body {
      padding: 16px 16px 22px 16px;

      &-header {
         @include display(flex,space-between,center);
         span {
            color: #808080;
            font-style: normal;
            @include font(500,13,12.7773);
         }
      }
      &-title {
         color: #3D3D3D;
         font-style: normal;
         margin: 10px 0px 8px 0px;
         @include font(600,27,16.4279);
      }
      &-text {
         color: #4D4D4D;
         font-style: normal;
         @include font(normal,20,10.9519);
      }
      &-footer {
         @include display(flex,space-between,center);
         &-user  {
            @include display(flex,space-between,center);

            span {
               color: #999999;
               margin-left: 10px;
               font-style: normal;
               @include font(normal,13,11.8646);
            }
         }
         &-link {
            color: #FF5722;
            text-align: right;
            font-style: normal;
            @include font(500,19,12.7773);
         }  
      
      }
   }
}
.slick-initialized .slick-slide {
   display: flex;
}
.slick-dots {
   height: 4px;
   width: 160px;
   left:40%;
   bottom : -50px;
   position:absolute;
   background-color: transparent;
   @include display(flex,center,center);
   button {
      font-size: 0;
      width: 55px;
      height: 4px;
   }
   .slick-active button {
      background-color: $orange;
   }
}

@media (max-width:1099px) {
   .blog {

      &__card {
         margin-right: 0;
      }
      &__card-img {
         width: 299px;

         img{
            width: 299px;
            height: 209px;
         }
      }
   }
}

@media (max-width:800px){
   .blog__card-img {
      width: 209px;
      height: 209px;

      img{
         width: 209px;
      }
   }
}

@media (max-width:768px) {
   .blog{
      &__content {
         display: block;
      }
      &__title {
         text-align: center;
      }
      &__text {
         text-align: center;
         margin: 16px auto;
      }
      &__btn-link{
         width: 158px;
         display: block;
         margin: 0 auto;
         font-size: 16px;
         text-align: center;
      }
      &__card-img {
         width: 209px;

         img{
            width: 209px ;
            height: 209px;
         }
      }
   }
}

@media (max-width:576px) {
   .blog {

      &__card {
         margin-right: 0;
         margin-left: 0.4px;
         border-radius: 7.30129px 0 0 7.30129px;
         @include display(flex, center, center);
      }
      &__card-img {
         width: 100%;
         // height : auto;
         img{
            width: 100%;
            // height: auto;
            margin-left: 0.4px;
         }
      }
   }
   .slick-initialized .slick-slide {
      display: block;
   }
   .slick-dots { 
      left:30%;
   }
}