@import '_grid';
@import '_virable';

.pricing {
	max-width:1380px;
	margin:  0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	&__inner {
	max-width: 1260px;
	margin-left: auto;
	width: 100%;
	}
	&__header {
		display: block;
		max-width: 555px;
		margin-left: 15px;
	}
	&__title {
		color: $text-color;
		letter-spacing: 0.02em;
		@include font(bold,32,32);
		font-family : "Playfair Display";
	}
	&__text {
		color : #848199;
		margin: 8px 0px 22px 0px;
		@include font(normal,24,14);
	}
	&__body {
		margin: 20px 0px 40px 0;
		border: 1px solid green;
		height: 100%;
		z-index: 0;
	}
	&__slider {
		z-index: 0;
		position: relative;
		padding: 40px 15px 0px 15px;
		.slick-dots {
			margin-top: 32px;
			@include display(flex,center,center);
			li {
				list-style: none;
				
				margin : 0 10px;
			}

			button {
				font-size: 0;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #c4c4c4;
			}
		}

		.slick-dots .slick-active  button {
			background-color: #ff5722 ;
		}
	
		&-item {
			z-index: 0;
			cursor: pointer;
			margin-right: 20px;
			position: relative;

			.pricing__card {
				width: 100%;
				margin-top: 29px;
				text-align: center;
				background-color: #fff;
				border-radius: $borderRadius;			
				border: 1px dashed rgba(0, 0, 0, 0.12);

				&-img {
					top: 0;
					left: 38%;
					position: absolute;
				}
				&-body {
					margin: 55px 23px 63px 23px;

					&-title {
						@include font(500,20,16);
						color: #3d3d3d;
						span {
							display: block;
							color: #848199;
							@include font(normal,18,13);
						}
					}
					&-icon {
						margin: 10px 0px;
						@include display(flex,center,center);

						span {
							color: #3d3d3d;
							margin-right: 8px;
							@include font(normal,14,14);
						}
						img {
							width: 15px;
							height: 15px;
							margin-top: -2px;
						}
					}
					&-text {
						color: #4d4d4d;
						@include font(normal,24,14);
					}
				}
			}
		}
	}
}
// @media (max-width:)

@media (max-width: 767px) and (min-width: 636px){
	.pricing__card-img {
		left: 42% !important;
	}
}

@media (max-width: 497px) and (min-width: 397px){
	.pricing__card-img {
		left: 42% !important;
	}
	.pricing__card {
		padding: 0 35px 0 35px !important;
	}
}


@media (max-width: 497px)  {
	.pricing__title {
		text-align: center;
	}
	.pricing__text {
		text-align: center;
		margin-top: 16px;
	}
	.pricing__header {
		margin-left: 0;
		padding: 0px 10px;
	}
}