.about__wrapper {
  padding: 85px 160px 37px 89px;
  margin: 0 auto;
}

.about__header {
  max-width: 330px;
  margin: 0 auto;
}

.about__title {
  text-align: center;
  color: #04004D;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: 'Playfair Display',serif;
}

.about__text {
  max-width: 505px;
  color: #848199;
  text-align: center;
  padding: 12px 0px 28px 0px;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}

.about__body {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
}

.about__body-left {
  position: relative;
}

.about__body-left::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FF5722;
}

.about__body-left iframe {
  min-width: 529px;
  min-height: 309px;
  margin-left: 46px;
}

.about__body-right {
  padding-left: 34px;
  max-width: 505px;
}

.about__body-right-header {
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  color: #1f1f1f;
}

.about__body-right-body {
  padding-top: 16px;
  padding-bottom: 32px;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  color: rgba(1, 0, 26, 0.75);
}

.about__body-right-footer a {
  color: #FF5722;
  display: inline-block;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  border-bottom: 1px solid #FF5722;
}

.about__body-right-footer a::after {
  margin-left: 5px;
  content: url("../assets/img/right.svg");
}

@media (max-width: 1286px) {
  iframe {
    margin-left: 0 !important;
  }
  .about__wrapper {
    padding: 85px 20px 89px;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 1108px) {
  iframe {
    min-width: 420px !important;
    min-height: 240px !important;
  }
  .about__body-right {
    padding-left: 15px;
  }
  .about__body-right-header {
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
  }
  .about__body-right-body {
    padding: 0 0px 5px;
    font-weight: normal;
    line-height: 22px;
    font-size: 13px;
  }
}

@media (max-width: 840px) {
  iframe {
    min-width: 380px !important;
    min-height: 214px !important;
  }
}

@media (max-width: 780px) {
  .about__body {
    display: block;
  }
  .about__body-left {
    text-align: center;
  }
  iframe {
    min-width: 509px !important;
    min-height: 290px !important;
  }
  .about__body-right {
    text-align: center;
    margin: 30px auto;
  }
  .about__body-right-header {
    font-weight: 600;
    line-height: 32px;
    font-size: 24px;
  }
  .about__body-right-body {
    padding-top: 16px 0 32px 0;
    font-weight: normal;
    line-height: 28px;
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  iframe {
    min-width: 420px !important;
    min-height: 240px !important;
  }
}

@media (max-width: 460px) {
  iframe {
    min-width: 340px !important;
    min-height: 210px !important;
  }
  .about__body-right-header {
    font-weight: 600;
    line-height: 30px;
    font-size: 22px;
  }
  .about__body-right-body {
    font-weight: normal;
    line-height: 22px;
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  iframe {
    min-width: 300px !important;
    min-height: 174px !important;
    margin-left: -20px;
  }
  .about__body-right {
    padding: 0;
  }
  .about__body-right-body {
    margin: 10px 0;
  }
}
