@import '_grid';
@import '_virable';
.class {
	padding-top: 42px;
	.container {
		padding: 0;
	}
	&__header {
		&-title {
			color: $text-color;
			letter-spacing: 2%;
			@include font(700,32,32);
			font-family: 'Playfair Display',serif;
		}
		&-text {
			margin: 8px 0 35px 0;
			@include display(flex,space-between, center);
			&-p{
				max-width:428px;
				color: #848199;
				text-align: start;
				@include font(400,24,14);
			}
			&-form {
				@include display(flex,space-between,center);
				&-dropdown {
					width: 58px;
					padding: 5px 8px;
					@include font(normal,16,14);
					color: #4D4D4D;
					border-top: 0.8px solid #f6f6f6;
					border-bottom: 1px solid #f6f6f6;
					margin-right: 25px;
					cursor: pointer;
				}
				&-select {
					padding: 12px;
					color : $white;
					background: $orange;
					@include font(400,16,16);
					border-radius: $borderRadius;
					cursor: pointer;	
				}
			}
		}
	}
	&__body {
		padding-bottom: 85px;
		&-cards {
			@include display(flex,space-between, center);
		}
		&-card {
			cursor: pointer;
			max-width: 359px;
			border-radius: 2 * $borderRadius;
			border: 1px solid rgba(0, 0, 0, 0.1);
			&-img {
				position: relative;
				width : 101%;
				margin-left: -1px;
				&::before {
					content: url('../assets/img/heart.svg');
					top: 24px;
					left: 24px;
					width : 38px;
					height: 38px;
					border-radius: 50%;
					position : absolute;
					background-color: $white;
					@include display(flex,center,center);
					padding-top: 3px;
				}
				img{
					width: 100%;
				}
			}
			&-text { 
				top: 50%;
				left: 50%;
				position: absolute;
				@include font(500,22,22);	
				font-family: 'Playfair Display',serif;
				color : rgba(255,255,255,0.8);
				transform: translate(-50%, -50%);
			}
			&-inner{
				padding: 13px 24px 18px 23px;
				&-flex {
					@include display(flex,space-between, center);
					&-one{ 
						color : #4D4D4D;
						@include font(normal,14,13);
						@include display(flex,center,center);
						img{
							margin-right: 7px;
						}
						span {
							margin-top: 3px;
						}
					}
					&-two {
						width: 24px;
						height: 24px;
						border-radius: 50%;
						background : $orange;
						@include display(flex,center,center);
					}
				}
				&-title {
					padding: 11px 0 0 0;
					&-title {
						max-width:268px;
						letter-spacing: 0.01em;
						@include font(500,28,17);
					}
					&-text {
						margin: 10px 0 15px 0;
						color: #4D4D4D;
						@include font(normal,14,14);
					}
				}
				&-footer {
					&-left {
						@include display(flex,space-between,center);
						span {
							color: #4D4D4D;
							@include font(normal,14,14);

							&::before {
								margin-right: 8px;
								content: url('../assets/img/user.svg');
							}
						}	
						a{
							padding: 8px;
							color: $orange;
							@include font(normal,14,14);
							border-radius: $borderRadius;
							@include display(flex,center,center);
							background: rgba(255, 87, 34, 0.16);
						}

					}
				}
			}
		}
	}
}

@media  (max-width: 1201px) {
	.class {
		padding-left: 13px;
		padding-right: 20px;

		&__body-card {
			min-width: 300px;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			&-inner-title-title {
				font-size: 15px;
			}
		}
	}
}
@media (max-width:992px) {
	.class__header-title {
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.class__header-text {
		margin-top: 20px;
		justify-content: space-around;
	}
	.class__header-text-p {
		max-width: 392px;
	}
	.class__body-cards {
		flex-wrap: wrap;
		justify-content: center;
	}
	.class__body-card {
			margin-top: 20px;
			min-width: 300px;
			&:nth-child(2){
				margin-right: 0;
			}
			&-img {
				img {
					width: 99.6%;
				}
			}
	}
}

@media (max-width: 768px) {
	.class__header-text-p {
		max-width: 320px;
	}
	.company__features-card{
		margin-right: 20px;
		margin: 0 auto ;
		&:nth-child(2){
			margin: 20px auto;
		}
	}

	.class__body-card {
		margin-top: 20px;
		max-width: 295px;
	}
}
@media (max-width: 660px) and (min-width: 560px) {
	.class__header-text {
		display: block;
		&-p {
			text-align: center;
			margin:  0 auto;
		}
		&-form {
			margin-top: 20px;
			justify-content: center;
		}
	}
	.class__body {
		&-cards{
			justify-content: center;
		}
		&-card {
			margin-right: 0;
			max-width: 360px;
		}
	}
}

@media (max-width:550px) {
	.class__body-card {
		margin-right: 0 !important;
	}
}